html {
    font-size: $mobile-base-size;

    @media (min-width: $tabletSmallP1) {
        font-size: $tablet-base-size;
    }

    @media (min-width: $tabletP1) {
        font-size: $base-size;
    }
}

body {
    font-family: $body-font;
    color: $black;
}

@for $i from 1 through $max-heading {
    .h#{$i},
    h#{$i} {
        font-size: heading-level($i);
        line-height: 1.3;
        font-weight: 700;
    }
}

p {
    font-size: 1rem;
    line-height: 2.1;
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}
